.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-img {
  width: 40%;
}

@media (max-width: 600px) {
  .catalog-img {
    width: 100%;
  }
}

.back-button {
  width: 60;
  height: 60;
  border-radius: 30;
  background-color: "#ee6e73";
  position: relative;
  bottom: 10;
  right: 10;
}
