.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container-butoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.butao-catalog-container {
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 8rem;
  height: 8rem;
}

.logo {
  width: 10rem;
  border-radius: 5rem;
  border-width: 5px;
  border-style: none;
}

.title {
  font-family: "Newsreader";
  font-weight: 600;
}

.subtitle {
  font-family: "Newsreader";
  font-weight: 400;
}
