.butao-catalog {
  text-decoration: none;
  background: none;
  border-radius: 5rem;
  border-width: 5px;
  border-style: none;
  cursor: pointer;
}

.butao-catalog img {
  border-radius: 6rem;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  height: 100%;
}

.butao-catalog-container {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.butao-catalog-container p {
  font-family: "Newsreader";
  font-size: 1rem;
  font-weight: 400;
}
